<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	    http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security-3.2.xsd ">

    <!-- 配置不过滤的资源（静态资源及登录相关） -->
    <http pattern="/**/*.css" security="none"></http>
    <http pattern="/**/*.jpg" security="none"></http>
    <http pattern="/**/*.jpeg" security="none"></http>
    <http pattern="/**/*.gif" security="none"></http>
    <http pattern="/**/*.png" security="none"></http>
    <http pattern="/js/**/*.js" security="none"></http>


    <http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->
    <http pattern="/test/**" security="none"></http><!-- 不过滤测试内容 -->

    <!-- 表示匿名用户可以访问 -->
    <http security="none" pattern="/login.jsp" />
    <http security="none" pattern="/error.jsp" />
    <http auto-config="true" authentication-manager-ref="authenticationManager">
        <form-login login-page="/login.jsp"
                    login-processing-url="/user/login" username-parameter="userName"
                    password-parameter="userPwd"  default-target-url="/index.jsp" authentication-failure-url="/error.jsp" />
        <intercept-url pattern="/**" access="ROLE_USER"/>
    </http>
    <!-- <authentication-manager alias="myAuthenticationManager">
         <authentication-provider user-service-ref="cwSysUserDetailsService">
             <password-encoder hash="md5"></password-encoder>
         </authentication-provider>
     </authentication-manager>-->
    <authentication-manager  id="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="user" password="user" authorities="ROLE_USER,ROLE_ADMIN"/>
                <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>



</beans:beans>